<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>

    <% if ( user ) { %>
		<h2>This is a question <%=user%> </h2>
		<a href="/quiz">Submit</a>
		<a href="/logout">Logout</a>
	<% } else { %>
		<p> Unautorized Access </p>
		<a href="/register">Register</a>
		<a href="/login">Login</a>
	<% } %>

</body>
</html>